div#logoff {background: transparent url(./images/logout.png) no-repeat 0px center}

div#t a#mnu_bunnybutton:hover {
    background-size: 100% 100%;
}

div#bunnybutton {
	background: transparent url(./images/logo.svg) no-repeat 0 center;
	width: 40px;
}
